fastapi==0.115.6
uvicorn==0.34.0
ortools==9.11.4210
celery==5.4.0
flower==2.0.1
python-dotenv==1.0.1
pydantic==2.10.5
pydantic-settings==2.7.1
psycopg2-binary==2.9.4
sqlmodel==0.0.22
ruff==0.9.6
requests==2.32.3